@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Carter One', sans-serif;
}

.wrapper{
	width: 30%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFF;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper span{
	width: 30%;
	text-align: center;
	font-size: 16px;
	
	cursor: pointer;
	user-select: none;
}
.ticket{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	margin-top: 3%;
}
.ticket-row{
	background-color: wheat;
	width: 400px;
	height: auto;
	padding: 40px;
	border-radius: 20px;
	
}
.ticket-col{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	
}
.ticket-col1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;

	
}
.ticket-col img{
	height: 100px;
	width: 200px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 20px;
	
  
  
}
.ticket-info1{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #c8d1d8;
	color: var(--primary-clr);
	font-style: 12px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.4s;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	margin:  20px 0;
}
.ticket-ending-h1{
	display: flex;
	justify-content: space-between;
	width: 460px;
	padding: 1% 6%;
	position: absolute;
	top: 500px;
	right: 400px ;
	border-radius:20px;
	
	
}
@media(max-width:990px){
  
	.ticket-row{
		width: auto;
		
	
	}
	.ticket-col{
		display: grid;
		height: auto;
	}
	.wrapper{
		width: 50%;
		margin:  20px 0 ;
	}


}